<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/rabbit
                http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd">

    <!-- 连接配置 -->
    <rabbit:connection-factory
            id="connectionRabbitMQFactory" host="${mq_host}"
            username="${mq_username}" password="${mq_password}"
            port="${mq_port}" virtual-host="${mq_vhost}"/>

    <rabbit:admin id="rabbitmqAdmin" connection-factory="connectionRabbitMQFactory"/>

    <!--<rabbit:template exchange="mq-exchange" id="amqpTemplate"-->
                     <!--connection-factory="connectionFactory" />-->

    <!-- queue 队列声明 -->
    <rabbit:queue id="rabbit_queue_one" durable="true"
                  auto-delete="false" exclusive="false" name="rabbit_queue_one"/>

    <!-- exchange queue binging key 绑定 -->
    <rabbit:direct-exchange name="mq-exchange" durable="true" auto-delete="false" id="mq-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="rabbit_queue_one" key="rabbit_queue_one"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!--Topic-->
    <!--<rabbit:topic-exchange name="${mq_exchange}" durable="true" auto-delete="false" declared-by="rabbitmqAdmin"/>-->

    <!--   消息对象json转换类 -->
    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>
    <rabbit:template id="amqpTemplate" routing-key=
            "${mq_routingkey}" connection-factory="connectionRabbitMQFactory"
                     exchange="${mq_exchange}" channel-transacted="false" message-converter="jsonMessageConverter"/>
</beans>